node_modules
# Keep environment variables out of version control
.env
package-lock.json

# Ignore contents of videos folder
/videos/*

# Ignore contents of images folder
/images/*

# Ignore contents of documents folder
/documents/*

prisma

views/*
