node_modules
# Keep environment variables out of version control
.env
package-lock.json

# Ignore contents of videos folder
public/videos/*

# Ignore contents of images folder
public/images/*

# Ignore contents of documents folder
public/documents/*

prisma

views/*
